<div class="container-fluid">
    <div class="row  d-flex align-items-center ">
        

        <div class="row ">
            <div class="col-sm-8 row justify-content-center">
                <img class="imgT" src="https://i.imgur.com/Tdr4VW1.png" alt="">


            </div>

            <div class="col-sm-4 movText">
                <h1><strong>NOSSOS</strong></h1>
                <h2><strong>CREATORS</strong></h2>
                <span class="span">Confira o nosso castign!</span>
            </div>
        </div>

    </div>





</div>


<div class="container">
    <section class="content">
        <article class="card">
           
          

        </article>
    </section>

    <section class="content">
        <article class="card">
           
          

        </article>
    </section>

    <section class="content">
        <article class="card">
          
          

        </article>
    </section>

    
</div>

<div class="container">
    <section class="content">
        <article class="card">
           
          

        </article>
    </section>

    <section class="content">
        <article class="card">
            
          

        </article>
    </section>

    <section class="content">
        <article class="card">
          
          

        </article>
    </section>

    
</div>

<div class="container">
    <section class="content">
        <article class="card">
           
          

        </article>
    </section>

    <section class="content">
        <article class="card">
            
          

        </article>
    </section>

    

    
</div>


<div class="container cont">

    <div class="box1 text-center txt1">SOLUÇÃO</div>
    <div class="box2 text-center txt2">CONTATO</div>
    <div class="box3 text-center txt3">CLIENTES</div>
</div>

<div class="row p-5">
    <div class="col-md-6 bg-col justify-content-center">
        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        

        <!-- Force as próximas colunas quebrarem, em uma nova linha, no breakpoint md ou maior -->
        <div class="w-100 d-none d-md-block"></div>

        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">


    </div>

    <div class="col-md-6 bg-col justify-content-center">
        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <!-- Force as próximas colunas quebrarem, em uma nova linha, no breakpoint md ou maior -->
        <div class="w-100 d-none d-md-block"></div>

        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">


    </div>

    

</div>


