<div class="container-fluid">
    <div class="row  d-flex align-items-center ">


        <div class="row ">
            <div class="col-md-4 row justify-content-center">
                <div class="card">

                   
                        <div class="card-body mt-3">
                            <form>
                                <div class="row">
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="Nome">
                                    <input type="text" class="form-control" placeholder="Sobrenome">
                                    <input type="text" class="form-control" placeholder="Email">
                                    <input type="text" class="form-control" placeholder="Whatsapp">
                                    <textarea type="text" class="form-control" rows="7"
                                    placeholder="Descreva sua ideia com mais detalhes"></textarea>
                                    
                                  </div>
                                 
                                </div>
                              </form>
                        </div>
                    

                </div>


            </div>

            <div class="col-md-6 movText">
                <h1><strong>ENTRE</strong></h1>
                <h2><strong>EM CONTATO</strong></h2>
                <span class="span">Vamos falar sobre o seu projeto!</span>

               <p>SOLICITE UM ORÇAMENTO</p>
               
            </div>

            
        </div>

    </div>





</div>

<div class="container cont">

    <div class="box1 text-center txt1">SOLUÇÃO</div>
    <div class="box2 text-center txt2">CONTATO</div>
    <div class="box3 text-center txt3">CLIENTES</div>
</div>


<div class="row p-5">
    <div class="col-md-6 bg-col justify-content-center">
        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <!-- Force as próximas colunas quebrarem, em uma nova linha, no breakpoint md ou maior -->
        <div class="w-100 d-none d-md-block"></div>

        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">


    </div>

    <div class="col-md-6 bg-col justify-content-center">
        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <!-- Force as próximas colunas quebrarem, em uma nova linha, no breakpoint md ou maior -->
        <div class="w-100 d-none d-md-block"></div>

        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">


    </div>

    

</div>