<div class="container-fluid">
    <div class="row  d-flex align-items-center ">


        <div class="row ">
            <div class="col-md-4 row justify-content-center">
                <div class="card">

                   
                        <div class="card-body">
                            <form>
                                <div class="row">
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="Nome">
                                    <input type="text" class="form-control" placeholder="Sobrenome">
                                    <input type="text" class="form-control" placeholder="Email">
                                    <input type="text" class="form-control" placeholder="Whatsapp">
                                    <input type="text" class="form-control" placeholder="Descreva sua ideia com mais detalhes">
                                  </div>
                                 
                                </div>
                              </form>
                        </div>
                    

                </div>


            </div>

            <div class="col-sm-4 movText">
                <h1><strong>NOSSOS</strong></h1>
                <h2><strong>CLIENTES</strong></h2>
                <span class="span">Possuímos uma carteira <br> de personalidade e marcas <br>
                    relevantes que confiam na nossa <br> qualidade e diferencial.</span>
            </div>
        </div>

    </div>





</div>