.movText{
    margin-top: 15rem;
    

}



h1{
    color: #92D0CF;
    font-weight: bolder;
    font-size: 80px;
    margin-left: -5rem;

}
h2{
    color: #B0336D;
    font-weight: bolder;
    font-size: 80px;
    margin-left: -5rem;
}

h3{
    color: #92D0CF;
    font-weight: bolder;
    font-size: 25px;
   
}
p{
    font-size: 25px;

}

.cont{
    width: 90%;
    padding: 10px;
    background:#fff;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    
}

.box1{
    width: 250px;
    height: 250px;
    background: #92D0CF;
    margin: 0px 0px;
    transition: 1s;    

}
.txt1{
    color: #75B9B8;
    font-weight: bolder;
    font-size: 50px;
  
}

.box2{
    width: 250px;
    height: 250px;
    background: #BF3976;
    margin: 0px 0px;
    transition: 1s; 

}

.txt2{
    color: #FEFCFE;
    font-weight: bolder;
    font-size: 50px;
}

.box3{
    width: 250px;
    height: 250px;
    background: #AE56A0;
    margin: 0px 0px;
    transition: 1s;
    

}

.txt3{
    color: #943E85;
    font-weight: bolder;
    font-size: 50px;
}



.box1:hover{
    transform: scale(1.3);
    background: #92D0CF ;
    box-shadow: 0px 2px 2px #92D0CF;
    z-index: 2;

}

.box2:hover{
    transform: scale(1.3);
    background: #BF3976 ;
    box-shadow: 0px 2px 2px#BF3976 ;
    z-index: 2;

}

.box3:hover{
    transform: scale(1.3);
    background: #AE56A0;
    box-shadow: 4px 4px 10px #ECECEC;
    z-index: 2;

}

.bg-col{
    background:  #E7E7E7;
    align-items: center;
    
}
