.nav-link{
    font-weight: bolder;
    line-height: 5rem;
    font-size: 20px;
    margin-right: 40px;
    margin-top: 20px;
     
}

.gradient{
    color:black;
}

.gradient:hover {
  background-image: linear-gradient(to left, #B1316C,  #92D0CF);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: black;
  text-transform: uppercase;

}



