<nav class="navbar navbar-expand-lg navbar-light bg-white">
    
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " href="#" routerLink='/quem-somos'>QUEM SOMOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav2" href="#" routerLink='/solucoes'>Soluções</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/portifolio'>Portifólio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/creators'>Creators</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/clientes'>Clientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link a" href="#" routerLink='/contato'>Contato</a>
        </li>
        
      </ul>
    </div>
</nav>

