<div class="container-fluid">
    <div class="row  d-flex align-items-center ">
        

        <div class="row ">
            <div class="col-sm-8 row justify-content-center">
                <img class="imgT" src="https://i.imgur.com/Tdr4VW1.png" alt="">


            </div>

            <div class="col-sm-4 movText">
                <h1><strong>NOSSOS</strong></h1>
                <h2><strong>CLIENTES</strong></h2>
                <span class="span">Possuímos uma carteira <br> de personalidade e marcas <br>
                 relevantes que confiam na nossa <br> qualidade e diferencial.</span>
            </div>
        </div>

    </div>





</div>

<div class="contCard mt-5">
    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>


</div>

<div class="contCard">
    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>


</div>

<div class="contCard">
    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
        <div class="card-body">
          
        </div>
    </div>



</div>

<div class="container cont">

    <div class="box1 text-center txt1">SOLUÇÃO</div>
    <div class="box2 text-center txt2">CONTATO</div>
    <div class="box3 text-center txt3">CLIENTES</div>
</div>


<div class="row p-5">
    <div class="col-md-6 bg-col justify-content-center">
        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <!-- Force as próximas colunas quebrarem, em uma nova linha, no breakpoint md ou maior -->
        <div class="w-100 d-none d-md-block"></div>

        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">


    </div>

    <div class="col-md-6 bg-col justify-content-center">
        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <!-- Force as próximas colunas quebrarem, em uma nova linha, no breakpoint md ou maior -->
        <div class="w-100 d-none d-md-block"></div>

        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">


    </div>

    

</div>








