<div class="container-fluid ">
    <div class="row  d-flex align-items-center ">
        

        <div class="row ">
            <div class="col-sm-8 row justify-content-center">
                <img class="imgT" src="https://i.imgur.com/Tdr4VW1.png" alt="">


            </div>

            <div class="col-sm-4 movText">
                <h1><strong>NOSSOS</strong></h1>
                <h2><strong>PRODUTOS</strong></h2>
            </div>
        </div>

    </div>

    

    


</div>

<section>
    
<div class="row ">
    <div class="col-sm-4 row justify-content-center">
        <h3><strong>YOUTUBE</strong></h3>
      <p>Temos o portifólio amplo <br>
      de produção e otimização 
      de <br> canais no youtube, atráves do <br> processo de captura, 
      edição, e, <br> posteriormente, análise de <br> dados (Google analytics).</p>


    </div>

    
</div>

<hr align="center">

<div class="row ">
    <div class="col-sm-4 row justify-content-center">
        <h4 ><strong>INSTAGRAM</strong></h4>
     <p class="p4">Produções para Instagram <br> (Vídeos IGTV, ou Feed dentro <br> dos 
     parâmetros do Instagram <br> para melhor engajamento).</p>


    </div>

    
</div>

<hr class="hr2" align="center">
    
</section>

<section class="container-fluid">

    <div class="d-flex mt-2">
        <div class="container">
            <h3 class="h5 font-weight-bold mt-4">FORMATOS</h3>
        </div>

    </div>

    <div class="d-flex">
        <div class="container">
            <P>Nós possuímos estrutura para produzir diversos formatos e
                gêneros de conteúdo. <br> Veja alguns vídeos do nosso portifólio 
                que demonstram essa flexibilidade.</P>
        </div>

    </div>

    <div class="contCard">
        <div class="card mb-5" >
            <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
            <div class="card-body">
              
            </div>
        </div>

        <div class="card mb-5" >
            <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
            <div class="card-body">
              
            </div>
        </div>

        <div class="card mb-5" >
            <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
            <div class="card-body">
              
            </div>
        </div>

        <div class="card mb-5" >
            <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
            <div class="card-body">
              
            </div>
        </div>

        <div class="card mb-5" >
            <img class="card-img-top" src=".../100px180/?text=Image cap" alt="">
            <div class="card-body">
              
            </div>
        </div>
    

    </div>
    

    
   


</section>

<div class="container cont">

    <div class="box1 text-center txt1">SOLUÇÃO</div>
    <div class="box2 text-center txt2">CONTATO</div>
    <div class="box3 text-center txt3">CLIENTES</div>
</div>

<div class="row p-5">
    <div class="col-md-6 bg-col justify-content-center">
        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <!-- Force as próximas colunas quebrarem, em uma nova linha, no breakpoint md ou maior -->
        <div class="w-100 d-none d-md-block"></div>

        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">


    </div>

    <div class="col-md-6 bg-col justify-content-center">
        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <!-- Force as próximas colunas quebrarem, em uma nova linha, no breakpoint md ou maior -->
        <div class="w-100 d-none d-md-block"></div>

        <img class="" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">

        <img class="p-3" src="https://i.imgur.com/I2iZlvB.png" alt="">


    </div>

    

</div>


